<% var page_title = "Report a concern about an adult" %>

<%- include("../_header.ejs") -%>

<div data-quickedit-field-id="node/1064/body/en/full"
  class="field field--name-body field--type-text-with-summary field--label-hidden field__item"
  data-once="quickedit">
  <p>If you believe someone is in immediate danger, dial 999.</p>
  <p></p>
  <div class="inset">
    <h3>Contact Adult Social Care</h3>
    <p>Telephone: 0345 603 7630<br>
      Textphone: 0345 758 5592</p>
    <p>Monday to Thursday, 8:45am to 5pm<br>
      Friday, 8:45am to 4:30pm</p>
    <p>Out of hours telephone: 0345 606 1212</p>
    <p>Email: <a href="mailto:socialcaredirect@essex.gov.uk">socialcaredirect@essex.gov.uk</a></p>
  </div>
  <p>You may want to report a concern if you:</p>
  <ul>
    <li>are worried about the safety or wellbeing of a member of the public, family member or friend
    </li>
    <li>suspect neglect or abuse</li>
    <li>would like to report an incident</li>
  </ul>
  <p>Even if you are not sure whether we need to be aware, call Adult Social Care. We are best placed
    to decide whether it warrants further investigation.</p>
  <p><a href="/topic/report-a-concern-about-a-child">If you have concern about a child</a>, let us
    know.</p>
  <h3>Why you may be concerned</h3>
  <p>Neglect and abuse can take different forms, ranging from exploitation and disrespectful treatment
    to physical harm.</p>
  <p>It can be at a low level, taking place over a long time, or it can take place over a short time
    and be more extreme.</p>
  <p>Visit <a
      href="https://www.nhs.uk/conditions/social-care-and-support/vulnerable-people-abuse-safeguarding/#spotting-signs-of-abuse-advice-for-carers"
      title="NHS">NHS</a> for more about spotting signs of abuse or neglect.</p>
  <p>Find out more about <a href="http://www.essexsab.org.uk/"
      title="Essex County Council Safeguarding">Essex County Council Safeguarding</a></p>
  <h3>For professionals</h3>
  <p>Professionals should use the <a
      href="https://www.essexsab.org.uk/professionals/reporting-concerns/" title="SETSAF form">Adult
      Alert form (SETSAF) to report a concern</a>.</p>
</div>
</div>
</div>
</div>
</article>


<%- include("_footer.ejs") -%>