


</div>

</div>


</div>






<div class="lgd-region lgd-region--content-bottom region region-content-bottom">

  <div class="lgd-container padding-horizontal">

    <div class="lgd-region__inner lgd-region__inner--content-bottom">
      <div id="block-guidesprevnextblock" class="block block-localgov-guides block-localgov-guides-prev-next-block">







        <nav class="lgd-prev-next lgd-prev-next--guides">
          <ul class="lgd-prev-next__list">
            <li class="lgd-prev-next__list-item lgd-prev-next__list-item--next">
              <a href="https://www-essex-gov-uk.nomensa.xyz/adult-social-care-and-health/report-abuse-or-neglect/report-concern-about-adult"
                class="lgd-prev-next__link lgd-prev-next__link--next"
                aria-label="Next: Report a concern about an adult">
                Next



                <div aria-hidden="true" class="lgd-icon lgd-prev-next__icon lgd-prev-next__icon--next">
                  <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 320 512">
                    <!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
                    <path
                      d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                    </path>
                  </svg>
                </div>
              </a>
            </li>
          </ul>
        </nav>

      </div>
      <div class="views-element-container block block-views block-views-blockcontent-feedback-block-feedback-form"
        id="block-views-block-content-feedback-block-feedback-form">


        <div>
          <div
            class="view view-content-feedback view-id-content_feedback view-display-id-block_feedback_form js-view-dom-id-6c438e701062791a5e2528d8679f0787881e0b387502696262965a89ab9bdcb5">



            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-nothing"><span class="field-content"><a
                      href="https://www-essex-gov-uk.nomensa.xyz/form/feedback-form?reference=1063"
                      title="Feedback Form">Submit content feedback</a></span></div>
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</div>

</main>


<footer class="lgd-footer">

  <div class="lgd-footer__pre-footer">
    <div class="lgd-container">
      <div class="lgd-row">
        <div class="lgd-row__two-thirds">




          <div class="lgd-region lgd-region--footer-first region region-footer-first">

            <div class="lgd-container padding-horizontal">

              <div class="lgd-region__inner lgd-region__inner--footer-first">


                <nav aria-labelledby="block-footer-menu" id="block-footer"
                  class="block block-menu navigation navigation--footer">

                  <h2 class="visually-hidden" id="block-footer-menu">Footer</h2>






                  <ul class="menu menu--footer">
                    <li class="menu-item">
                      <a href="https://www-essex-gov-uk.nomensa.xyz/about-essexgovuk"
                        data-drupal-link-system-path="node/1567">About essex.gov.uk</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://www-essex-gov-uk.nomensa.xyz/about-essexgovuk/accessibility"
                        data-drupal-link-system-path="node/1584">Accessibility</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://www-essex-gov-uk.nomensa.xyz/about-essexgovuk/cookies"
                        data-drupal-link-system-path="node/1582">Cookies</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://www-essex-gov-uk.nomensa.xyz/about-essexgovuk/privacy-and-data-protection"
                        data-drupal-link-system-path="node/1568">Privacy and data protection</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://www-essex-gov-uk.nomensa.xyz/business/modern-slavery-and-human-trafficking-statement"
                        data-drupal-link-system-path="node/1703">Modern slavery and human trafficking statement</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://www-essex-gov-uk.nomensa.xyz/about-essexgovuk/terms-and-conditions"
                        data-drupal-link-system-path="node/1585">Terms and conditions</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://www-essex-gov-uk.nomensa.xyz/contact-us-0"
                        data-drupal-link-system-path="node/1626">Contact us</a>
                    </li>
                  </ul>



                </nav>

              </div>

            </div>

          </div>

        </div>


        <div class="lgd-row__one-third">




          <div class="lgd-region lgd-region--footer-third region region-footer-third">

            <div class="lgd-container padding-horizontal">

              <div class="lgd-region__inner lgd-region__inner--footer-third">


                <nav aria-labelledby="block-socialmedia-menu" id="block-socialmedia"
                  class="block block-menu navigation navigation--social-media">

                  <h2 class="visually-hidden" id="block-socialmedia-menu">Social Media</h2>






                  <ul class="menu menu--social-media">
                    <li class="menu-item">
                      <a href="https://www.facebook.com/essexcountycouncil" class="social-link facebook">Facebook</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://twitter.com/essex_cc" class="social-link twitter">Twitter</a>
                    </li>
                    <li class="menu-item">
                      <a href="http://www.youtube.com/user/EssexCountyCouncil" class="social-link youtube">Youtube</a>
                    </li>
                  </ul>



                </nav>

              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="lgd-footer__footer">
    <div class="lgd-container">
      <div class="lgd-row">
        <div class="lgd-row__full">




          <div class="lgd-region lgd-region--footer region region-footer">

            <div class="lgd-container padding-horizontal">

              <div class="lgd-region__inner lgd-region__inner--footer">
                <div id="block-essex-localgov-poweredbylocalgovdrupal-scarfolk"
                  class="block block-localgov-core block-localgov-powered-by-block">


                  <span>Powered by <a href="https://localgovdrupal.org/">LocalGov Drupal</a></span>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>


</footer>

</div>


<script src="/assets/debounce.js.download"></script>
<script src="/assets/header.js.download"></script>



</body>

</html>